.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  gap: 2rem;
  position: relative;
  margin-bottom: 4rem;
  width: 90%;
  margin: 0 auto;
}

.services {
  display: grid;
  grid-template-columns: 25% auto;
  width: 90%;
  margin-top: 30px;
}

.menu {
  list-style: none;
  font-weight: 500;
  font-size: 1.3rem;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.menu > li:hover {
  color: var(--blue);
  cursor: pointer;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  height: 28rem;
  overflow-y: scroll;
  grid-gap: 1.2rem;
  justify-content: space-between;
}

.service {
  width: 12rem;
  height: 6rem;
  position: relative;
  background-color: var(--white);
  display: flex;
  padding: 1rem;
  overflow: hidden;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.service > span {
  color: var(--blue);
}

.service > :first-child {
  font-size: 2.2rem;
  font-weight: bold;
  margin-right: 15%;
}
.service > :last-child {
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (max-width: 856px) {
  .container {
    gap: 1rem;
  }
  .container h1 {
    text-align: center;
  }
  .services {
    grid-template-columns: none;
    gap: 1rem;
  }
  .menu {
    flex-direction: row;
    font-size: 1.1rem;
    flex-wrap: wrap;
    gap: 0.9rem;
    width: 100%;
  }
}
