#about-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 80px 12%; */
}
.about-left{
    width: 40%;
}
.about-left img{
    width: 90%;
    height: auto;
}
.about-right {
    max-width: 60%;
    width: 50%;
    text-align: justify;
    text-justify: inherit;
}
.about-right .details{
    text-align: left;
    
}

.about-right ul li {
    display: flex;
    align-items: center;
}

.about-right h1 {
    color: var(--blue);
    font-size: 30px;
    margin-bottom: 5px;
}

.about-right p {
    color: #fff;
    line-height: 26px;
    font-size: 15px;
}

.about-right .address {
    margin: 25px 0;
}

.about-right .address ul li {
    margin-bottom: 5px;
}

.address .address-logo {
    margin-right: 15px;
    color: var(--blue);
}

.address .saprater {
    margin: 0 35px;
}


