#about-section {
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px !important;
  /* padding: 80px 12%; */
}
.about-left {
  width: 40%;
  margin-top: 60px;
}
.about-left img {
  width: 90%;
  height: 90%;
  border-radius: 10px;
  margin-left: 20%;
}
.about-right {
  max-width: 60%;
  width: 50%;
  text-align: justify;
  text-justify: inherit;
}

.about-right ul li {
  display: flex;
  align-items: center;
}

.about-right h1 {
  color: var(--blue);
  font-size: 30px;
  margin-bottom: 5px;
  font-weight: bold;
}

.about-right p {
  color: #fff;
  line-height: 26px;
  font-size: 15px;
  max-width: 80%;
  text-align: justify;
  text-justify: inter-word;
}

.about-right .address {
  margin: 25px 0;
  margin-top: 80px;
  font-size: 25px;
}

.about-right .address ul li {
  margin-bottom: 5px;
}

.address .address-logo {
  margin-right: 15px;
  color: var(--blue);
}

.address .saprater {
  margin: 0 35px;
}

@media screen and (max-width: 856px) {
  #about-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
  }
  .about-left {
    width: 100%;
  }
  .about-left img {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .about-right {
    width: 100%;
    text-align: center;
  }
  .about-right p {
    max-width: 100% !important;
  }
}

@media screen and (max-width: 550px) {
  .about-left img {
    width: 80%;
    margin-top: Õ³;
  }
  .about-right {
    max-width: 100%;
    width: 90%;
    margin: 20px;
  }
  .about-right p {
    font-size: 12px;
  }
  .address .address-logo {
    margin-right: 10px;
  }
  .address .saprater {
    margin: 0 10px;
  }
}
