.home {
  width: 100%;
  display: flex;
  margin-left: 0px;
  margin: 0 auto;
}

.home-intro {
  width: fit-content; /* Adjust width to content */
  max-width: 100%; /* Ensure it doesn't exceed the parent width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
  max-height: 30vh;
  overflow: hidden;
}


.home-intro .titleOne {
  font-size: 40px;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 800;
}

.home-intro .titleTwo {
  color: var(--blue);
  text-transform: uppercase;
  font-size: 35px;
}

.home-intro .titleThree {
  color: var(--blue);
  text-transform: uppercase;
  font-size: 40px;
}

.home-intro .titleOne,
.home-intro .titleTwo,
.home-intro .titleThree {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Show ellipsis (...) for overflow */
}


.home .text {
  font-size: 35px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
