.popularPost {
  margin-bottom: 12rem;
}

.popularPost .content img {
  width: 100%;
  height: 100%;
}
.popularPost .content img:hover {
  transform: scale(1.1);
}

.popularPost .text {
  padding: 20px;
}

.popularPost .box {
  background-color: #fff;
  display: flex;
  position: relative;
  margin: 15px 15px 15px 0;
  overflow: hidden;
}
.popularPost .images {
  position: relative;
  height: 150px;
}
.popularPost .content img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  transition: 0.3s ease-in;
}
.popularPost .text h1 {
  padding: 20px 0 0 20px;
  margin: 0;
}
.popularPost .date {
  margin-top: 15px;
  padding: 0 0 0 20px;
}

.popularPost .comment {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 0 0 20px;
  margin-top: 5px;
}

.popularPost .title {
  color: var(--black);
}

@media screen and (max-width: 550px) {
  .popularPost {
    margin-bottom: 6%;
  }
  .popularPost .box {
    max-height: 300px;
    height: 250px;
  }
  .popularPost .content img {
    display: none;
  }
}
