.popular .box {
  background-color: #fff;
  display: flex;
  position: relative;
  margin: 15px 15px 15px 0;
  overflow: hidden;
}
.popular .images {
  position: relative;
  height: 150px;
}
.popular img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  transition: 0.3s ease-in;
}

.popular .images .img img:hover {
  transform: scale(1.1);
}
.popular .text h1 {
  padding: 20px 0 0 20px;
  margin: 0;
}
.popular .date {
  margin-top: 15px;
  padding: 0 0 0 20px;
}

.popular .comment {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 0 0 20px;
  margin-top: 5px;
}

.popular .title {
  color: var(--black);
}
