.container {
  padding: 0rem 2rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  /* margin-top: 300px !important; */
  margin: 0 auto;
  width: 85% !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.wrapper {
  display: flex;
  align-items: baseline;
  position: relative;
  justify-content: center;
  margin-bottom: 30px;
}

.wrapper .parLogo {
  width: 25rem;
  border-radius: 50%;
  overflow: hidden;
}

.signupbtn {
  position: absolute;
  bottom: 25%;
  right: 2%;
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.Signup {
  display: flex;
  background: var(--white);
  padding: 10px;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
  border-radius: 15px;
  color: var(--black);
}

.Signup > :first-child {
  width: 6rem;
  display: block;
}
.Signup > :last-child {
  border-radius: 50%;
  border: 1px solid var(--black);
  width: 20px;
  height: 20px;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.h_sides {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.text1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  width: min-content;
  font-weight: 600;
  display: block;
}

.text2 {
  display: flex;
  flex-direction: column;
  width: min-content;
}

.text2 > :first-child {
  font-weight: 800;
  font-size: 2.5rem;
}
.text2 > :last-child {
  display: block;
}

.traffic {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.traffic > :first-child {
  font-weight: 800;
  font-size: 2.5rem;
}

.traffic2 > :first-child {
  font-weight: 800;
  font-size: 2.5rem;
}

.scrolling {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  cursor: pointer;
}
.scrolling p {
  color: var(--white);
  font-weight: 600;
  font-size: 25px;
}

.scrolling img {
  width: 60px;
  height: 60px;
  cursor: pointer;

  font-weight: 600;
}

.loader {
  width: 38px;
  height: 68px;
  position: relative;
  margin-top: 10px !important;
  box-sizing: border-box;
  border: 2px solid var(--white);
  margin: auto;
  border-radius: 50% 50% 50% 50% / 25% 25% 25% 25%;
}

.loader::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  width: 5px;
  height: 1px;
  background: var(--white);
  border-radius: 10px;
  animation: scrollDown 1.5s linear infinite;
}

@keyframes scrollDown {
  0% {
    top: 15px;
    height: 4px;
    opacity: 1;
  }
  33% {
    top: 15px;
    height: 40px;
  }
  66% {
    top: 50px;
    height: 10px;
    opacity: 1;
  }
  100% {
    top: 56px;
    height: 4px;
    opacity: 0;
  }
}

@media screen and (max-width: 856px) {
  .text1,
  .text2 > span:nth-of-type(2) {
    font-size: 0.9rem;
    text-align: justify;
  }
  .text2 > span:nth-of-type(1),
  .traffic > span:nth-of-type(1) {
    text-align: left;
    font-size: 1.5rem;
  }
  .wrapper .parLogo {
    width: 25rem !important;
  }
  .container {
    grid-template-areas:
      "left center center"
      "right right right ";
  }
  .container > :first-child {
    grid-area: left;
    grid-template-rows: none;
    gap: 8rem;
  }
  .container > :nth-child(2) {
    grid-area: center;
  }
  .container > :nth-child(3) {
    grid-area: right;
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
  }
  .loader {
    width: 30px;
    height: 55px;
    margin-top: 5px !important;
  }

  .loader::before {
    top: 2px;
    height: 1px;
    width: 3px; /* Adjust the width as needed */
  }
}

@media screen and (max-width: 640px) {
  .container {
    width: 100% !important;
  }
  .wrapper .parLogo {
    top: 0;
    width: 200px !important;
    margin-bottom: 1rem;
    margin-top: 1rem;
    z-index: -1;
  }
  .signupbtn {
    display: none;
  }
  .text2 {
    margin-top: 6rem;
  }
  .traffic > span:nth-child(2) {
    text-align: left;
  }
  .scrolling p {
    font-size: 15px;
    padding: 10px;
  }
  .scrolling img {
    width: 50px;
    height: 50px;
  }
}

.custom_shape_divider_bottom_1701798693 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom_shape_divider_bottom_1701798693 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 135px;
}

.custom_shape_divider_bottom_1701798693 .shape_fill {
  fill: var(--blue);
}
