.sNewsContainer {
  margin-top: 150px !important;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  background-color: var(--white);
  padding: 30px;
  border-radius: 10px;
  position: relative;
}

.image-conatiner {
  max-width: 70%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 90px;
}
.sNewsContainer img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.2s ease-in;
}

.sNewsContainer img:hover {
  transform: scale(1.1);
}

.sNewsContainer h2 {
  color: var(--blue);
  font-weight: 600;
  margin-bottom: 50px;
  margin-top: 50px;
}

.sNewsContainer .date {
  color: var(--blue);
  text-align: left;
  max-width: 70%;
  margin: 0 auto;
}
.sNewsContainer .date i,
label {
  font-weight: 500;
  margin: 5px;
}
.sNewsContainer span {
  background-color: var(--bg);
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px;
  border-radius: 5px;
}
.sNewsContainer p {
  color: var(--bg);
  font-weight: 300;
  text-align: justify;
  text-justify: inherit;
  margin-top: 10px !important;
  margin-bottom: 60px !important;

  width: 100%;
}

@media screen and (max-width: 856px) {
  .sNewsContainer {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .sNewsContainer .image-conatiner {
    max-width: 95%;
  }
  .sNewsContainer .date {
    max-width: 90%;
  }
}
