.loader {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
  z-index: 2;
}

.loader__wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  position: fixed;
  inset: 0;
  overflow: hidden;
}

.loader__words {
  position: relative;
  overflow: hidden;
  height: 41rem;
  color: var(--bg);
}

.loader__overlay {
  position: absolute;
  inset: 0;
  height: 100%;
  z-index: 2;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.9) 47%,
    transparent,
    transparent 47%,
    transparent,
    transparent 55%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0.9)
  );
}

.loader__word {
  display: block;
  font-size: 3rem;
}

.loader__progressWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5vh;
  width: 100%;
  z-index: 3;
}

.loader__progress {
  height: 100%;
  width: 100%;
  background-color: var(--blue);
  transform: scaleX(0);
  transform-origin: left center;
}

.loader__progressNumber {
  position: absolute;
  left: -5vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
  white-space: nowrap;
  color: var(--white);
  font-size: 3.2rem;
}
