.navbarContainer {
  display: flex;
  width: 100%;
  padding: 1rem;
  position: fixed;
  top: 0;
  justify-content: space-between;
  height: 70px;
  z-index: 10000;
  margin-bottom: 20px;
  transition: all 0.5s ease-in;
}
.navbarContainer.active {
  background-color: var(--blue);
  backdrop-filter: blur(5px);
}
.navbarContainer .logo {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 1rem;
}

.navbarContainer .logo > img {
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;
}

.navbarContainer .logo > span {
  font-weight: 600;
}

.navbarContainer .right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.navbarContainer .menu {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  list-style: none;
  font-weight: 500;
  font-size: 20px;
}

.navbarContainer .menu .logo2 {
  display: none;
}

.close2 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.ham {
  display: none;
  cursor: pointer;
  color: var(--white) !important;
}

.navbarContainer .menu > li:hover {
  color: var(--blue);
  cursor: pointer;
  transition: 0.2s all ease-in;
}

.navbarContainer.active .menu > li:hover {
  color: rgb(204, 201, 201);
  transition: all 0.3s ease-in;
}

.navbarContainer .Login {
  width: 5rem;
  height: 2.2rem;
  left: 0px;
  background-color: var(--white);
  color: var(--blue);
  outline: none;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  padding: 0.5rem;
  transition: all 0.3s ease;
}
.navbarContainer .Login:hover {
  background-color: var(--blue);
  color: var(--white);
}

.bars {
  display: none;
  color: var(--white);
}

.right .ham {
  width: 30px;
  height: 30px;
  font-weight: bold;
  z-index: 100000;
  color: var(--white) !important;
}



@media screen and (max-width: 1200px) {
  .navbarContainer .loginCover {
    width: 30vw;
  }
}

@media screen and (max-width: 856px) {
  .navbarContainer .right {
    gap: 0.5rem;
  }
  .navbarContainer .loginCover {
    width: 50vw;
    height: 55vh !important;
    top: 50%;
  }
  .loginCover > h1 {
    margin-top: 4rem;
  }
  .navbarContainer .menu > li {
    font-size: 13px;
  }
  .navbarContainer .logo > span {
    display: none;
  }

  .logo {
    flex: 0.7;
  }
}

@media screen and (max-width: 640px) {
  .ham {
    display: block;
  }
  .navbarContainer.active {
    backdrop-filter: blur(5px);
    background-color: var(--white);
    border-bottom: 1px solid var(--blue);
  }
  .navbarContainer .right .bars {
    position: absolute;
    right: 1.5rem;
  }
  .navbarContainer .menu {
    top: 0;
    right: -100%;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    color: var(--blue);
    transition: all 0.3s ease-in;
    text-align: center;
    padding: 2rem;
    padding-top: 4rem;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1000;
  }
  .navbarContainer .menu.active {
    right: 0;
    opacity: 1;
    visibility: visible;
  }
  .navbarContainer .menu.active .logo2 {
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    visibility: visible;
  }
  .navbarContainer .menu.active .menu .logo2 span {
    color: var(--bg);
  }
  .navbarContainer .menu > li {
    font-size: 16px;
    border-bottom: 1px solid var(--bg);
    width: 65%;
    padding: 10px;
  }
  .bars {
    display: block;
  }
  .navbarContainer.active .Login {
    color: var(--blue);
    font-weight: 500;
  }
  .navbarContainer .Login {
    border: 0.5px solid var(--white);
    background-color: transparent;
    color: var(--white);
    margin-right: 55px;
    height: 2.5rem;
  }
  .navbarContainer.active .Login {
    border: 0.5px solid var(--blue);
  }
}
