main .container1 {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 29rem;
  }
  .mainContent {
    width: 75%;
  }
  .sideContent {
    width: 23%;
  }
  .sideContent .heading h6 {
    background-color: #000;
  }
  @media screen and (max-width: 768px) {
    main .container1 {
      flex-direction: column;
    }
    .mainContent {
      width: 100%;
      
    }
    .sideContent {
      width: 100%;
    }
    .sideContent .heading:nth-child(3){
      display: none;
    }
  }

  @media screen and (max-width:550px) {
    .sideContent{
      display: none;
    }
  }