

main{
  position: relative;
}

main .homesContainer {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    flex-direction:row !important;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 19rem;
  }
  .mainContent {
    width: 75%;
  }
  .sideContent {
    width: 23%;
  }
  .sideContent .heading h6 {
    background-color: #000;
  }
  @media screen and (max-width: 856px) {
    main .homesContainer {
      flex-direction: column;
      
    }
    .mainContent {
      width: 100%;
      
    }
    .sideContent {
      display: none;
    }
    .sideContent .heading:nth-child(3){
      display: none;
    }
  }

  @media screen and (max-width:550px) {
    .sideContent{
      display: none;
    }
    main .homesContainer{
      margin-bottom: 30rem;
    }
    
  }