.title{
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
     background: transparent;
     margin-top: 30px;
}


 .swiper-slide {
  width: 350px;
  height: 80%;
  box-shadow: 4px 9px 23px 3px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 9px 23px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 9px 23px 3px rgba(0,0,0,0.75);
}

.swiper-slide img {
  border-radius: 50%;
  width: 8rem;
} 


.swiper-slide .swiper-content{
    position: relative;
    border: 1px solid var(--white);
    text-align: center;
    border-radius: 10px;
    height: 90%;
    padding: 20px;
    /* background-color: var(--white); */
}

.swiper-slide .swiper-content i{
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 30px;
    color: var(--blue);
}

.swiper-slide .swiper-content p {
    text-align: justify;
    margin-bottom: 20px;
    
}

.swiper-slide .swiper-content h2{
    
    
}

.swiper-slide .swiper-content h4{
    margin-bottom: 40px;
    font-weight: 500;
    color: var(--blue);
}