.cFooterWrapper {
  width: 100%;
  margin-top: 6rem;
  margin-bottom: 1rem;
}

.cFooterWrapper > hr {
  height: 1px;
  width: 100%;
  border: none;
  background: var(--white);
  margin-top: 1rem;
}

.cFooter {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.logo {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.logo > img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.logo > span {
  font-size: 1.2rem;
  font-weight: bold;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 12rem;
}

.details {
  display: flex;
  flex-direction: column;
  width: inherit;
  font-size: 0.9rem;
  gap: 1rem;
  font-style: italic;
}

.details > span:nth-of-type(1) {
  font-weight: bold;
  font-size: 1.2rem;
}

.iconLine {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.iconLine:hover {
  cursor: pointer;
}

.fa-phone {
  font-size: 30px;
}

.copyright {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
}

@media screen and (max-width: 856px) {
  .cFooter {
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 1.7rem;
    gap: 2rem;
    padding: 1rem;
  }
  .logo > img {
    display: none !important;
  }
}
@media screen and (max-width: 640px) {
  .cFooter {
    flex-direction: column;
    font-size: 1.5rem;
    padding: 1rem;
  }
  .logo {
    display: none;
  }
}
