.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem 2rem;
  width: 85%;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: flex-end;
  width: 100%;
}

.wrapper .img {
  bottom: 0;
  width: 27rem !important;
  justify-self: center;
}

.container {
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container > :nth-child(1) {
  font-size: 2rem;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
}
.container > :nth-child(2) {
  font-size: 15px;
  text-transform: uppercase;
  display: block;
}

.wrapper > :nth-child(3) {
  text-align: right;
}

@media screen and (max-width: 856px) {
  .wrapper .img {
    width: 20rem !important;
  }
  .container > :nth-child(1),
  .container > :nth-child(3) {
    font-size: 30px;
  }
}

@media screen and (max-width: 550px) {
  .testimonials {
    width: 88%;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    text-align: center !important;
  }
  .wrapper .img {
    text-align: center !important;
    width: 15rem !important;
  }
  .wrapper > :nth-child(3) {
    display: none;
  }
}
