.testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 2rem;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: flex-end;
    width: 100%;
}

.wrapper>img{
    bottom: 0;
    width: 22rem;
    justify-self: center;
}

.container{
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container>:nth-child(1){
    font-size: 2rem;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
}
.container>:nth-child(2){
    font-size: 0.8rem;
    text-transform: uppercase;
    display: block;
}

.wrapper>:nth-child(3){
    text-align: right;
}

.reviews{
    margin-top: 4rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.carousel{
    width: 100%;
}

.tCarousel{
    pad: 2rem;
}

.testimonial{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--white);
    border-radius: 10px;
    color: var(--blue);
    box-shadow: 0rem 1rem 3rem -50px #7d7d7d;
}

.testimonial>img{
    position: absolute !important;
    width: 3.5rem !important;
    height: 3.5rem !important;
    background-size: cover;
    top: -1.5rem;
    z-index: 1111;
    border-radius: 50%;
}


.testimonial>span:nth-of-type(1){
    align-items: center;
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin-top: 3rem;
}

.testimonial>span:nth-of-type(2){
    font-weight: bold;
}

.testimonial>hr{
    height: 1px;
    width: 80%;
    background: var(--blue);
    border: none;
}


@media screen and (max-width:640px) {
    .wrapper{
        grid-template-columns: 1fr;
    }
    .wrapper>img{
        width: 80vw;
    }
    .wrapper>:nth-child(1),.wrapper>:nth-child(3){
        text-align: center;
    }
}