.title {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.container {
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.swiper_container {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 25rem;
  height: 37rem;
  position: relative;
  backdrop-filter: blur(2px);
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 3px 14px -1px #000000;
  overflow-x: hidden !important;
}

.swiper-slide .contentSlide {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  text-align: center;
}

.swiper-slide .contentSlide .fa-graduation-cap {
  position: absolute;
  top: 20px;
  left: 20px;
  color: var(--bg);
  font-size: 40px;
}
.swiper-slide .contentSlide .slideText {
  width: 19rem;
  word-wrap: break-word;
}
.swiper-slide .contentSlide .slideText h1 {
  color: var(--bg);
  font-weight: 600;
}

.swiper-slide .contentSlide .slideText h3 {
  color: #526d826c;
  font-weight: 200;
}
.swiper-slide .contentSlide .slideText p {
  color: var(--bg);
  font-size: 20px;
  text-align: justify;
  letter-spacing: 1px;
  margin-top: 20px;
}
.swiper-slide .contentSlide .stImg {
  width: 21rem;
  height: 22rem;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 35rem;
  }
  .swiper-slide {
    width: 80vw !important;
    height: 28rem;
  }
  .swiper-slide img {
    width: 95% !important;
    height: 15rem !important;
  }
  .swiper-slide h1 {
    font-size: 20px;
    text-align: left;
  }
  .swiper-slide h3 {
    font-size: 15px;
    text-align: left;
  }
  .swiper-slide .contentSlide .slideText {
    width: 70%;
  }
  .swiper-slide .contentSlide .slideText p {
    font-size: 13px;
    margin-top: 20px;
  }
  .swiper-slide .contentSlide .fa-graduation-cap {
    font-size: 25px;
  }
  .swiper-button-next {
    display: none;
  }
  .swiper-button-prev {
    display: none;
  }
  .swiper-pagination {
    display: none;
  }
}

.swiper-slide img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 52.2% !important;
  transform: translateX(-52%) !important;
}
.slider-controler .swiper-button-prev {
  left: 47% !important;
  transform: translateX(92%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
  .title {
    font-size: 28px !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler .slider-arrow {
  background: var(--white);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow i {
  font-size: 1rem;
  color: var(--blue);
}

.slider-controler .slider-arrow::after {
  content: "";
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--white);
}
