:root {
  --black: #343434;
  --white: #d0d4d6;
  --white: #dde6ed;
  --bg: #526d82;
  --shadow1: 0 13px 48px -1px rgba(0, 0, 0, 0.25);
  --shadow2: 0 13px 46px rgba(0, 0, 0, 0.13);
  --blue: #27374d;
}

.body-no-scroll {
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 1ex;
}

a {
  text-decoration: none;
  color: inherit;
}

.mainLoader {
  margin: 0 auto;
  margin-top: calc(100vh - 70vh);
  position: relative;
  height: 200px;
  width: 200px;
  border-bottom: 3px solid #27374d;
  box-sizing: border-box;
  animation: drawLine 4s linear infinite;
}

.mainLoader:before {
  content: "";
  position: absolute;
  left: calc(100% + 14px);
  bottom: -6px;
  width: 16px;
  height: 100px;
  border-radius: 20px 20px 50px 50px;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(#27374d 6px, transparent 0),
    /* Replace #ff3d00 with #27374d */
      linear-gradient(45deg, rgba(0, 0, 0, 0.02) 49%, white 51%),
    linear-gradient(315deg, rgba(0, 0, 0, 0.02) 49%, white 51%),
    linear-gradient(
      to bottom,
      #ffffff 10%,
      #27374d 10%,
      #27374d 90%,
      #ffffff 90%
    ); /* Replace #ff3d00 with #27374d */
  background-size:
    3px 3px,
    8px 8px,
    8px 8px,
    16px 88px;
  background-position:
    center bottom,
    left 88px,
    right 88px,
    left top;
  transform: rotate(25deg);
  animation: pencilRot 4s linear infinite;
}

@keyframes drawLine {
  0%,
  100% {
    width: 0px;
  }
  45%,
  55% {
    width: 200px;
  }
}

@keyframes pencilRot {
  0%,
  45% {
    bottom: -6px;
    left: calc(100% + 14px);
    transform: rotate(25deg);
  }
  55%,
  100% {
    bottom: -12px;
    left: calc(100% + 16px);
    transform: rotate(220deg);
  }
}
