@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: var(--bg);
    transition: 0.3s ease;
    color: var(--white);
    scroll-behavior: smooth;
    max-width: 100%;
}

html, body {
    max-width: 100%;
}

