@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300;1,400&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: var(--bg);
    transition: 0.3s ease;
    color: var(--white);
    scroll-behavior: smooth;
    overflow-x: hidden !important;
    max-width: 100%;
}