.topBtn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  font-size: 20px;
  color: var(--blue);
  background-color: var(--white);
  z-index: -1;
}

@media screen and (max-width: 550px) {
  .topBtn {
    right: 20px;
    width: 45px;
    height: 45px;
    font-size: 15px;
  }
}
