.s-container{
    position: relative;
    margin-top: 40px;
}
.s-container .swiper{
    width: 80%;
    height: 12rem;
    position: unset;
}
.s-container .swiper-slide{
    background-color: aliceblue;
    display: flex;
    border-radius: 10px;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.s-container .swiper-button-prev{
    left: 6rem;
}
.s-container .swiper-button-next{
    right: 6rem;
}
.s-container .swiper-button-prev,.s-container .swiper-button-next{
    color: var(--white);
}

.left-s{
    display: flex;
    justify-content: center;
    margin: 0 6px;
}

.name{
    display: flex;
    flex-direction: column;
    color: var(--blue);
}

.name>:first-child{
    font-size: 1.4rem;
    font-weight: 600;
}
.name>:nth-child(2){
    font-size: 0.7rem;
}

.img-p{
    border-radius: 10px;
    width: 100%;
    height: 90%;
}

@media screen and (max-width:856px) {
    .s-container .swiper{
        width: 90%;
        height: 10rem;
    }
    .s-container .swiper-button-prev,
    .s-container .swiper-button-next{
        display: none;
    }
}