.s-container {
  position: relative;
  margin-top: 150px;
  height: 15rem !important;
}
.s-container .swiper {
  width: 80%;
  height: 12rem;
  position: unset;
}
.s-container .swiper-slide {
  background-color: aliceblue;
  display: flex;
  border-radius: 10px;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  height: 12rem !important;
  box-shadow: none;
}
.s-container .swiper-button-prev {
  left: 6rem;
}
.s-container .swiper-button-next {
  right: 6rem;
}
.s-container .swiper-button-prev,
.s-container .swiper-button-next {
  color: #27374d;
}

@media screen and (max-width: 856px) {
  .s-container {
    margin-top: 50px;
  }
  .s-container .swiper {
    width: 90%;
    height: 15rem;
  }

  .s-container .swiper-button-prev,
  .s-container .swiper-button-next {
    display: none;
  }
}
.s-container .swiper-slide .containerSlide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.s-container .swiper-slide .containerSlide img {
  height: 100%;
  width: 100%;
  object-fit: cover !important;
  text-align: center;
  opacity: 0.2;
}

.s-container .swiper-slide .containerSlide .slideText {
  position: absolute;
  text-align: center;
}

.s-container .swiper-slide .containerSlide .slideText h2 {
  color: #27374d;
  font-weight: 800;
}

.s-container .swiper-slide .containerSlide .slideText span {
  color: #27374d;
  font-weight: 400;
}

@media screen and (max-width: 550px) {
  .s-container .swiper .swiper-slide {
    width: 100% !important;
  }
}
